<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/normalize.css">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Template</title>
</head>
<body>
    <!-- Titres -->
     <h1>Hello World</h1>
     <h2>Hello World</h2>
     <h3>Hello World</h3>
     <h4>Hello World</h4>
     <h5>Hello World</h5>

     <!-- Paragraphe -->
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis iusto commodi voluptatibus cumque similique architecto molestias omnis nulla deserunt autem assumenda voluptas quis sequi, consequatur, vitae impedit distinctio quia facilis aperiam at eveniet? Rem, nam optio dolores dicta laborum nulla excepturi impedit fuga distinctio et quam in necessitatibus molestiae temporibus!</p>

      <!-- Lien -->
       <a href="#">I'm a link</a>

       <!-- Liste -->
       <ul>
        <li>premier</li>
        <li>deuxieme</li>
        <li>troisieme</li>
       </ul>

       <!-- Image -->
       <img src="./imgs/test-img.jpg" alt="#" class="img">
       
        <!-- Bouton -->
       <button class="btn">Bouton</button>

       <!-- Alertes -->
        <div class="alert alert-danger">Salut depuis danger</div>
        <div class="alert alert-success">Salut depuis succès</div>

        <!-- Formulaire -->
         <form class="form">
            <h4>Formulaire de contact</h4>
            <div class="form-row">
                <label for="name" class="form-label">Nom</label>
                <input class="form-input" type="text" name="name" id="name" placeholder="John">
            </div>
            <div class="form-row">
                <label for="number" class="form-label">Nombre</label>
                <input class="form-input" type="number" name="number" id="number">
            </div>
            <div class="form-row">
                <label for="email" class="form-label">E-Mail</label>
                <input class="form-input" type="email" name="email" id="email">
            </div>
            <div class="form-row">
                <label for="textarea" class="form-label">Message</label>
                <textarea name="textarea" id="textarea" class="form-textarea">Valeur par défaut</textarea>
            </div>
            <button type="submit" class="btn btn-block">Envoyer</button>
         </form>

         <!-- Chargement -->
         <div class="loading"></div>
         <!-- Section -->
        <div class="title">
            <section class="section">
                <h2>Titre de la section</h2>
                <div class="title-underline"></div>
            </section>
        </div>
    </body>
</html>