* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f5f9;
    font-family: system-ui;
    line-height: 1.5;
}

.section {
    background-color: #fff;
    padding: 5rem 0;
}

.section-title {
    text-align: center;
}

.title-underline {
    background: cornflowerblue;
    height: 0.25rem;
    width: 5rem;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.section-center {
    width: 90vw;
    max-width: 600px;
    margin-inline: auto;
}
