*{
    margin: 0;
}
.logo{
    color: #F3F7EC;
    font-size: 2rem;
}
.nav{
    background: #005C78;
    height: 10vh;
}
.hero{
    color: #E88D67;
    background: #F3F7EC;
    min-height: calc(100vh - 10vh);
}
.hero-btn{
    background: #005C78;
    color: #F3F7EC;
}