
body{
    margin: 2vw;
    font-family: system-ui;
    background: #f1f5f9;
}
.card{
    text-align: center;
    padding: 1.5rem 2rem;
    max-width: 20rem;
    margin: 3rem auto;
    border: 1px solid transparent;
    border-radius:0.5rem;
    background: #fff;
}
.icon{
    width: 2rem;
    height: 2rem;
    margin-inline: auto;
    border-radius: 100%;
}
.title{
    text-transform: capitalize;
    letter-spacing: 1px;
}
.text{
    color: #64748b;
    line-height: 1.5;
}
.btn{
    text-transform: capitalize;
    border-radius: 10px;
    border-style: hidden;
    padding: 1rem;
}


.card-1{
    border-color: #ff69a6;
}
.card-1 .icon{
    background: #ff69a6;
}
.btn-pink{
    background: #ffe8f1;
    color: #ff69a6;
}


.card-2{
    border-color: #68a3ff;
}
.card-2 .icon{
    background: #68a3ff;
}
.btn-blue{
    background: #ecf4ff;
    color: #68a3ff;
}