body{
    margin: 2vw;
    font-family: system-ui;
    background: #f1f5f9;
}
.card{
    margin-inline: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    max-width: 15rem;
    border: 1px solid black;
    border-radius:15px;
    background: #fff;
}
.icon{
    width: 2rem;
    height: 2rem;
    margin-inline: auto;
    border-radius: 100%;
}
.title{
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
}
.text{
    color: #64748b;
}
.btn{
    text-transform: capitalize;
    border-radius: 10px;
    border-style: hidden;
    margin-left: calc((15rem - 113px) / 2);
    padding: 1rem;
}
.card-1{
    border-color: #ff69a6;
}
.card-1 .icon{
    background: #ff69a6;
}
.btn-pink{
    background: #ffe8f1;
    color: #ff69a6;
}
.card-2{
    border-color: #68a3ff;
}
.card-2 .icon{
    background: #68a3ff;
}
.btn-blue{
    background: #ecf4ff;
    color: #68a3ff;
}