/* Général */
body {
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/* Navbar */
.navbar {
  background-color: #2d241e;
  color: #ffffff;
  padding: 10px 0;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  background-color: #ffffff;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, transform 0.3s;
}

.nav-links li a {
  color: #2d241e;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li:hover {
  background-color: #f4a261;
  transform: scale(1.1);
}

/* Main */
main {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

main form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main form input[type="text"],
main form input[type="email"],
main form input[type="message"],
main form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

main form input::placeholder,
main form textarea::placeholder {
  color: #aaa;
}

main form button {
  background-color: #2d241e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

main form button:hover {
  background-color: #f4a261;
  transform: scale(1.1);
}

/* Footer */
footer {
  background-color: #2d241e;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  border-top-left-radius: 2vw;
  border-top-right-radius: 3vw;
  border-top: 4px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  width: 100vw;
  transition: transform 0.3s;
}

footer:hover {
  transform: scale(1.1);
}

footer h2 {
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer ul li {
  margin: 10px 15px;
  text-align: center;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
  display: block;
}

footer ul li a i {
  display: block;
  font-size: 36px;
  margin-bottom: 5px;
}

footer ul li a span {
  display: block;
  font-size: 14px;
  text-decoration: none;
}
