* {
  margin: 0;
  /* utilise pour déboguer */
  /* background-color: rgba(255 0 0 / 0.2); */
}

h1,
p {
  color: #fff;
}

h1 {
  background: red;
  /* PADDING */
  /* padding-top: 40px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 48px; */

  /* raccourci */
  /* padding: haut droite bas gauche */
  padding: 40px 32px 32px 48px;
  /* padding: haut/bas gauche/droite */
  padding: 40px 20px;
  /* partout le même */
  padding: 40px;

  /* MARGIN */
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 20rem;

  margin: 20px 40px;
  margin: 50px;
}

p {
  margin: 50px;
  background: blue;
  /* bordure */
  border: 5px solid black;
  /* ligne extérieure */
  outline: 5px solid black;
  /* décalage */
  outline-offset: 15px;
  /* angle */
  border-radius: 16px;
}

button {
  cursor: pointer;
  padding: 0.375rem 0.75rem;
}
