/* Groupe de sélecteurs */
h1,
h2,
p {
  color: purple;
}
/* Sélecteur id */
#title {
  color: grey;
}
#red {
  color: red;
}
.bleu {
  color: blue;
  background-color: green;
}
.vert {
  color: green;
  background-color: blue;
}
.uppercase {
  text-transform: uppercase;
}
div > p {
  color: grey;
}
