
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
h1 {
    font-family: "Trade Winds", system-ui;
    text-align: center;
}
.text{
    font-family: system-ui;
    font-style: italic;
    text-align: end;
}
span{
    text-transform: capitalize;
    color: red;
    letter-spacing: 0.1vh;
}
a{
    color: black;
    text-decoration: none;
}