body {
    background-color: #faf8ef;
    font-family: 'Arial', sans-serif;
    color: #776e65;
    padding: 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    background-color: #bbada0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80vw;
    height: 80vh;
}

.score-container {
    background-color: #eee4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.game-board {
    background-color: #cdc1b4;
    padding: 15px;
    border-radius: 10px;
    display: grid;
    height: 60vh;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.tile {
    background-color: #eee4da;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 28px;
}

.tile-2 {
    background-color: #eee4da;
}

.tile-4 {
    background-color: #ede0c8;
}

.tile-8 {
    background-color: #f2b179;
}

.tile-16 {
    background-color: #f59563;
}

.tile-32 {
    background-color: #f67c5f;
}

.tile-64 {
    background-color: #f65e3b;
}

.tile-128 {
    background-color: #edcf72;
}

.tile-256 {
    background-color: #edcc61;
}

.tile-512 {
    background-color: #edc850;
}

.tile-1024 {
    background-color: #edc53f;
}

.tile-2048 {
    background-color: #edc22e;
}
